<Layouts.flash_group flash={@flash} />

<main class="m-auto lowercase font-space-grotesk text-black">

<!--
  GRID:

  5 columns (flex span inside div next to h1)
  1 row

  - push first column to top using mb-auto
  - align separator in middle using my-auto
  - push last column to bottom using mt-auto
-->

  <section class="grid grid-cols-[auto_auto_auto_auto_auto] mb-10">
    <div class="mb-auto">
      <p class="text-center font-semibold font-inria-sans tracking-widest text-[0.9rem]/none">day Of Week</p>
      <.date_segment segment={@date} />
    </div>


    <.date_separator />

    <div>
      <p class="text-center font-semibold font-inria-sans tracking-widest text-[0.9rem]/none pl-1">september</p>
      <.date_segment segment={@month} />
      <p class="text-center font-semibold font-inria-sans tracking-widest text-[0.9rem]/none -mt-0.5">autumn</p>
    </div>


    <.date_separator />

    <div class="mt-auto">
      <.date_segment year />

      <section class="leap-year flex font-inria-sans tracking-widest font-semibold text-[0.9rem] items-center space-x-3 mx-auto w-fit -mt-0.75">
        <div class="relative group/tooltip1 [&:has(.hover-target:hover)>p>span]:underline">
          <p class="cursor-pointer leading-none group select-none"><span class="hover:underline underline-offset-3">leap year</span>?</p>
          <div id="next-leap-year" class="hover-target hidden
                   bg-linear-to-r from-[#ABE9DE] to-[#F8B9D2]
                   group-hover/tooltip1:block
                   before:h-3 before:w-20 before:left-1/2 before:-translate-x-1/2 before:bottom-full before:absolute
                   absolute py-0.5 border rounded-sm whitespace-nowrap tracking-wider font-medium px-2 -translate-x-1/2 left-1/2 mt-3"><span class="select-none">❯❯ &nbsp;</span>The next leap year will be in <strong>2222</strong><span class="select-none"> ❯❯</span></div>
        </div>








        <% # is leap year fill = [#9dd998], not = [#E89E99] %>
        <div class="group/tooltip2 relative [--circle-hover-fill:#9dd998] [&:has(.hover-target:hover)>div:not(.hidden)>svg>circle]:fill-(--circle-hover-fill)">
          <.leap_year_icon />
          
          <div id="leap-year-info" class="hover-target hidden
                   bg-(--circle-hover-fill)/60
                   group-hover/tooltip2:block
                   before:h-3.5 before:w-20 before:left-1/2 before:-translate-x-1/2 before:bottom-full before:absolute
                   absolute py-0.5 border rounded-sm whitespace-nowrap tracking-wider font-medium px-2 -translate-x-1/2 left-1/2 mt-3">2222 is not a leap year</div>
        </div>
      </section>

      </div>
  </section>
</main>
