/* See the Tailwind configuration guide for advanced usage
   https://tailwindcss.com/docs/configuration */

@import "tailwindcss" source(none);
@import "phoenix-colocated/date_display/colocated.css";
@source "../css";
@source "../js";
@source "../../lib/date_display_web";
/* Required for Tailwind to automatically pick up changes in colocated CSS files in dev */
@source "../../_build/dev/phoenix-colocated/date_display/*/";


@theme {
  --font-inria-sans: "Inria Sans", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
}
